.recipe-container{
    cursor: pointer;
    padding: 20px;
    padding-bottom: 10px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.recipe-catalogue-title{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    color: #fff;
    margin-top: 10px;
}
.recipe-catalogue-image{
    width: 100%;
    border-radius: 8px;
}
.recipe-title{
    width: 85%;
}
.bookmark-icon {
    width: 15%;
    color: #fff;
}
.bookmarked{
    color: #5457b6;
}